[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Other decks don't have counterpart
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = "if self.GAME.starting_params.no_faces and SMODS.Ranks[v.value].face then keep = false end"
position = 'after'
match_indent = true
payload = '''
if (SMODS.Ranks[v.value].counterpart and SMODS.Ranks[v.value].counterpart.is) or _r == 'showdown_Z' then
    keep = false
end
'''

# Calculus deck forces first booster in shop to be a Calculus booster, part 1/2
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "G.GAME.current_round.used_packs[i] = get_pack('shop_pack').key"
position = "at"
match_indent = true
payload = '''
G.GAME.current_round.used_packs[i] = get_pack('shop_pack', (G.GAME.first_booster_calculus and i == 1 and 'booster_calculus')).key
'''

# Calculus deck forces first booster in shop to be a Calculus booster, part 2/2
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "if not G.GAME.first_shop_buffoon and not G.GAME.banned_keys['p_buffoon_normal_1'] then"
position = "at"
match_indent = true
payload = '''
if not G.GAME.first_booster_calculus and not G.GAME.first_shop_buffoon and not G.GAME.banned_keys['p_buffoon_normal_1'] then
'''

# Cheater deck card creation
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "G.GAME.current_round.hands_played = G.GAME.current_round.hands_played + 1"
position = "after"
match_indent = true
payload = '''
SMODS.calculate_context({post_hand = true})
'''

# Engineer deck, part 1/2
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "local _pool, _pool_key = get_current_pool('Tag', nil, nil, append)"
position = "at"
match_indent = true
payload = '''
local _pool, _pool_key = get_current_pool(G.GAME.showdown_engineer and 'Switch' or 'Tag', nil, nil, append)
'''

# Engineer deck, part 2/2 (Versatile Joker too i guess) (Thanks Cardsauce)
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
_pool[#_pool + 1] = v.key
_pool_size = _pool_size + 1
'''
position = "at"
match_indent = true
payload = '''
if G.GAME.showdown_engineer and Showdown.tag_related_joker[v.key] then
    local weight = 4
    if G.GAME.selected_back.name == 'Engineer Deck' then
        local versatile = find_joker('versatile_joker')
        if #versatile > 0 then
            for i=1, #versatile do weight = math.floor(weight * versatile[i].ability.extra.tag_switch_mult) end
        end
    end
    -- can crash the game if weight is too high
    -- there's a configurable limit (100 by default) and a hardcoded limit (200)
    for i=1, math.min(weight, Showdown.config["Technical"]["Engineer Versatile Weight Limit"], 200) do
        _pool[#_pool + 1] = v.key -- no touchy
        _pool_size = _pool_size + 1 -- this is for not letting other mods mess with these 2 lines of code
    end
else
    _pool[#_pool + 1] = v.key
    _pool_size = _pool_size + 1
end
'''


# One of a Kind deck (tag card)
[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = '''function G.UIDEF.use_and_sell_buttons(card)'''
position = 'after'
match_indent = true
payload = '''

if card.area and card.area == G.pack_cards and card.ability.tag_card then
    return {
        n = G.UIT.ROOT, config = {padding = 0, colour = G.C.CLEAR}, nodes = {
            {n = G.UIT.R, config = {ref_table = card, r = 0.08, padding = 0.1, align = "bm", minw = 0.5 * card.T.w - 0.15, maxw = 0.9 * card.T.w - 0.15, minh = 0.3 * card.T.h, hover = true, shadow = true, colour = G.C.UI.BACKGROUND_INACTIVE, one_press = true, button = 'use_tag_card', func = 'can_use_tag_card'}, nodes = {
                {n=G.UIT.T, config={text = localize('b_select'), colour = G.C.UI.TEXT_LIGHT, scale = 0.45, shadow = true}}
        }},
    }}
end

'''