[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# For testing
[[patches]]
[patches.pattern]
target = "controller.lua"
pattern = "if not _RELEASE_MODE then"
position = "at"
match_indent = true
payload = '''
if _RELEASE_MODE then
'''

# Text colors, part 1/2
[[patches]]
[patches.pattern]
target = 'globals.lua'
pattern = "RENTAL = HEX('b18f43'),"
position = 'after'
match_indent = true
payload = '''
COUNTERPART_RANKS = HEX('485fab'),
SHOWDOWN_CALCULUS = HEX('b84242'),
SHOWDOWN_CALCULUS_DARK = HEX('8a3434'),
SWITCH = HEX('acc3f0'),
SHOWDOWN_BOOLEAN = HEX('808080'),
SHOWDOWN_BOOLEAN_DARK = HEX('595959'),
'''

# Text colors, part 2/2
[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
pattern = "legendary = G.C.RARITY[4],"
position = 'after'
match_indent = true
payload = '''
counterpart_ranks = G.C.COUNTERPART_RANKS,
showdown_calculus = G.C.SHOWDOWN_CALCULUS,
showdown_calculus_dark = G.C.SHOWDOWN_CALCULUS_DARK,
showdown_boolean = G.C.SHOWDOWN_BOOLEAN,
showdown_boolean_dark = G.C.SHOWDOWN_BOOLEAN_DARK,
'''

# Init Showdown global through lovely
[[patches]]
[patches.pattern]
target = "main.lua"
match_indent = true
pattern = '''function love.load()'''
position = "before"
payload = '''
Showdown = {}
Showdown.extraSuits = {}
Showdown.versatile = {}
Showdown.casino = {}
Showdown.tag_related_joker = {}
Showdown.rules_card_blacklist = {}
'''

# Text color on toggle buttons
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
match_indent = true
pattern = '''{n=G.UIT.T, config={text = args.label, scale = args.label_scale, colour = G.C.UI.TEXT_LIGHT}},'''
position = "at"
payload = '''
{n=G.UIT.T, config={text = args.label, scale = args.label_scale, colour = args.label_color or G.C.UI.TEXT_LIGHT}},
'''

# Add a reroll tags debug button, part 1/2
[[patches]]
[patches.pattern]
target = '''functions/UI_definitions.lua'''
match_indent = true
pattern = '''G.FUNCS.DT_lose_game = function() if G.STAGE == G.STAGES.RUN then G.STATE = G.STATES.GAME_OVER; G.STATE_COMPLETE = false end end'''
position = "after"
payload = '''
G.FUNCS.DT_reroll_tags = function()
    if G.GAME and G.GAME.round_resets and G.GAME.round_resets.blind_states and G.GAME.round_resets.blind_tags then
        if not (G.GAME.round_resets.blind_states.Small == 'Defeated' or G.GAME.round_resets.blind_states.Small == 'Skipped' or G.GAME.round_resets.blind_states.Small == 'Hide') then
            reroll_tags_and_blind('small')
        end
        if not (G.GAME.round_resets.blind_states.Big == 'Defeated' or G.GAME.round_resets.blind_states.Big == 'Skipped' or G.GAME.round_resets.blind_states.Big == 'Hide') then
            reroll_tags_and_blind('big')
        end
    end
end
'''

# Add a reroll tags debug button, part 2/2
[[patches]]
[patches.pattern]
target = '''functions/UI_definitions.lua'''
match_indent = true
pattern = '''UIBox_button{ label = {"Jimbo talk"}, button = "DT_jimbo_talk", minw = 1.7, minh = 0.4, scale = 0.35},'''
position = "after"
payload = '''
UIBox_button{ label = {"Reroll tags"}, button = "DT_reroll_tags", minw = 1.7, minh = 0.4, scale = 0.35},
'''

# Hue Shift easter egg
[[patches]]
[patches.pattern]
target = '''functions/common_events.lua'''
match_indent = true
pattern = '''new_card.pinned = other.pinned'''
position = "after"
payload = '''
--new_card.hue_shift_factor = math.random(1, 3)
'''

# Hue Shift easter egg
[[patches]]
[patches.pattern]
target = '''card.lua'''
match_indent = true
pattern = '''ignore_shadow = self.ignore_shadow,'''
position = "before"
payload = '''
--hue_shift_factor = self.hue_shift_factor,
'''

# Hue Shift easter egg
[[patches]]
[patches.pattern]
target = '''card.lua'''
match_indent = true
pattern = '''self:set_sprites(self.config.center, self.config.card)'''
position = "before"
payload = '''
--self.hue_shift_factor = cardTable.hue_shift_factor
'''

# Rules Card debug, part 1/2
[[patches]]
[patches.pattern]
target = '''controller.lua'''
match_indent = true
pattern = '''G.debug_tools.alignment.offset.x = -4'''
position = "after"
payload = '''
if G.rules_card_jokers then G.rules_card_jokers.T.y = -3 end
'''

# Rules Card debug, part 2/2
[[patches]]
[patches.pattern]
target = '''controller.lua'''
match_indent = true
pattern = '''G.debug_tools = nil'''
position = "after"
payload = '''
if G.rules_card_jokers then G.rules_card_jokers.T.y = -5 end
'''